
<h1>create profile</h1>

<form class="" action="/" method="post">
  <input type="text" name="username" value="">
  <input type="text" name="password" value="">
  <input type="submit" name="" value="">
</form>
